<!doctype html>
<html>

   <body>
   <center>
   <h1>Yash Dani 1001707349</h1>
   <br>
   <h3>Clusting K-means</h3>
   <form method="post" align="center" action="/list">

		Clustring for Age and Height
		<br><br>
		<input type="text" name="k1">
		<br><br>
		<input type="submit" value="show">

	    </form>

		<form method="post" align="center" action="/list6">
		<br><br>
		Show Image
		<br><br>
		<input type="submit" value="show">

	    </form>
		<br><br>
		<form method="post" align="center" action="/list1">
		<br>
		Clustring for CabinNum and Fare for k = 10

		<br><br>
		<input type="submit" value="submit">

	    </form>

		<form method="post" align="center" action="/list2">
		<br>
		Web Form clustering
		<br><br>
		Column 1
		<input type="text" name="col1">
		<br><br>
		Column 2
		<input type="text" name="col2">
		<br><br>
		Number of Cluster
		<input type="number" name="cul2">
		<br><br>

		<input type="submit" value="submit">
		<br><br>
		<button name="submit" type="submit" formaction="../bargraph">Bar Graph</button>
		<br>
	    </form>





   </body>
</html>
