<!doctype html>
<html>

   <body>
   <center>
   <h1>Yash Dani 1001707349</h1>
   <br>
   <h3>Enter Student Details<h3>
   <br>
   <form method="post" align="center" action="/list">
			<br><br>
		Student Id
		<input type="text" name="sid" >
		<br><br>
		Course Id
		<input type="text" name="cid">
		<br><br>
		Section Id
		<input type="text" name="section">
		<br><br>
		<input type="submit" value="Submit">

	    </form>
		<br><br>
		  <form method="post" align="center" action="/list2">
		Availibility
		<br><br>
		<input type="submit" value="show">

	    </form>
		<br><br>
		  <form method="post" align="center" action="/list3">
		Enrolled Classes
		<br>
		Student Id
		<input type="text" name="sid" >
		<br><br>
		<input type="submit" value="show">

	    </form>

   </body>
</html>
